body {
	/*
	height: 100vh;
	box-sizing: border-box;
	*/
	margin: 0;
	border-style: solid;
	border-width: 55px 20px 25px 20px;
	border-image: url(../img/background.png) 55 20 25 20 fill repeat;
	overflow-y: visible;
}

body::-webkit-scrollbar {
	width: 0;
}

.container {
	margin-top: -25px;
	margin-bottom: -12px;
}

#header {
	position: relative;
	width: 100%;
}

li {
	margin: -1px 0px;
	padding: 0px;
	list-style: none;
}

.encountertitle {
	position: absolute;
	top: 15px;
	left: 20px;
	color: #C4C8C7;
	font-size: 12px;
	font-family: 微软雅黑;
}

.duration {
	position: absolute;
	float: right;
	top: 14px;
	right: 21px;
	color: #D8BB7D;
	font-size: 13px;
	font-weight: bold;
	font-family: 微软雅黑;
}

.button {
	position: relative;
	display: inline-block;
	width: calc(50% - 17px);
	height: 20px;
	margin: 3px 0;
	border-style: solid;
	border-width: 0 15px 0 15px;
	border-image: url(../img/button-normal.png) 0 15 0 15 fill repeat;
	color: #F2F2F2;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	font-family: 微软雅黑;
	letter-spacing: 1px;
}

.bt-dps {
	margin-left: -16px;
}

.bt-heal {
	margin-left: -8px;
	margin-right: -8px;
}

#source {
	position: absolute;
	display: none;
}

ul {
	margin: 0;
	padding: 9px 0 3px 0;
}

.job-icon {
	position: relative;
	top: 8px;
	margin-left: -2px;
}

.job-icon img {
	width: 22px;
	height: 22px;
}

.detail {
	display: inline-block;
	width: calc(100% - 27px);
	margin-left: 3px;
}

.name {
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #ECE1CD;
	font-size: 12px;
	font-family: 微软雅黑;
	letter-spacing: 0.8px;
}

.number {
	display: inline-block;
	float: right;
	color: #ECE1CD;
	font-size: 12px;
	font-family: 微软雅黑;
}

#content2 {
	width: 100%;
	height: 6px;
	margin: -3px auto 6px auto;
	border-radius: 3px;
	background: #444;
}

.bar {
	display: block;
	position: inherit;
	width: 100%;
	height: 6px;
	border-radius: 3px;
	position: inherit;
}

.inactive .bar {
	background: #666;
}

#overlay {
	position: inherit;
	width: 100%;
	color: #D8BB7D;
	font-size: 13px;
	font-family: 微软雅黑;
}

.waitingtitle {
	position: absolute;
	top: 14px;
	left: 20px;
	color: #C4C8C7;
	font-size: 12px;
	font-family: 微软雅黑;
}

.waiting {
	display: block;
	width: 100%;
	margin: 6px 0 4px 0;
	text-align: center;
}

@-webkit-keyframes fullexpand {
	0% {
		width: 0px;
	}
	100% {
		width: 100%;
	}
}